<div class="row">
    <div class="col-sm listWidth">
        <h1 class="whiteText">Incoming Orders</h1>
        <ul class="list-group">
            {{#each orders}}
            {{#unless completed}}
            <li class="list-group-item">
                <span class="boldMe">Customer: </span>{{name}}<br>
                <span class="boldMe">Item: </span>{{item}}
                <br><br>
                <span class="boldMe">Created on: </span>{{created_at}}<br>
                <button class="btn btn-success complete" id="{{id}}">Complete Order</button>
                <button class="btn btn-danger delete" id="{{this.id}}">Delete Order</button>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="col-sm listWidth">
        <h1 class="whiteText"> Completed Orders</h1>
        <ul class="list-group">
            {{#each orders}}
            {{#if completed}}
            <li class="list-group-item"><span class="boldMe">Customer: </span> {{name}}<br>
                <span class="boldMe">Item: </span>{{item}}
                <br><br>
                <span class="boldMe">Time Submitted: </span>{{created_at}}<br>
                <br>
                <span class="boldMe">Time Completed: </span>{{updated_at}}
            </li>
            {{/if}}
            {{/each}}


        </ul>
    </div>
</div>